<html>
<head>
   <title>Senior Project</title>
   <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
   <div id="header" style="text-align: right;">
      <ul>
         <li><a href="/proposal">Project Proposal</a> &raquo;</li>
         <li><a href="/schedule">Project Schedule</a> &raquo;</li>
         <li><a href="/spec">Project Specification</a> &raquo;</li>
         <li><a href="/ui">UI Prototype</a> &raquo;</li>
         <li><a href="/notes">Project Notes</a> &raquo;</li>
      </ul>
   </div>
   <div id="content">
      <%= readme %>
   </div>
</body>
</html>
