<html>
<head>
   <title>Senior Project</title>
   <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
   <a href="/proposal">Project Proposal</a>
</body>
</html>
