<html>
<head>
   <title>Senior Project</title>
   <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
   <ul id="header">
      <li><a href="/proposal">Project Proposal</a></li>
      <li><a href="/schedule">Project Schedule</a></li>
      <li><a href="/spec">Project Specification</a></li>
      <li><a href="/notes">Project Notes</a></li>
   </ul>
   <div id="content">
      <%= readme %>
   </div>
</body>
</html>
