<html>
<head>
   <title><%= title %></title>
   <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
   <div id="content">
      <%= content %>
   </div>
</body>
</html>
